.left-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    bottom: 0;
    background-color: rgba(0,100,120,1);
    font-size: 11px;
    color: rgba(255,255,255,1);
    line-height: 20px;
    font-family: sans-serif;
    overflow: auto;
}

.left-menu::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0,100,120,.75);
}

.left-menu::-webkit-scrollbar-track {
    background: rgba(0,100,120,.75);
}

.left-menu::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,1);
}

.left-menu-item {
    padding: 10px 5px 10px 10px;
}

.left-menu-item-selected {
    padding: 10px 5px 10px 10px;
    background-color: rgba(255,255,255,.5);
    color: rgba(50,50,50,1);
    font-size: 12px;
}

.left-menu-item:hover {
    background-color: rgba(255,255,255,.25);
    font-size: 12px;
    cursor: pointer;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid rgba(255,255,255,1);
    border-bottom: 20px solid transparent;
    float: right;
    margin-top: -10px;
    margin-right: -5px;
}

@media print {
    .left-menu {
        display: none !important;
    }
}