<div id="app-menu" class="menu" ng-controller="menuController">
    <div class="app-menu-inner">
        <div class="menu-name"><a href="/">Jonathan Cervone</a></div>
        <div class="menu-item">
            <a href="mailto:jonathan.cervone@gmail.com">
                <span class="home-link-icon"><i class="fa fa-envelope-o"></i></span>
            </a>
        </div>
        <div class="menu-item">
            <a href="https://www.linkedin.com/in/jonathan-cervone-b98432142/">
                <span class="home-link-icon"><i class="fa fa-linkedin"></i></span>
            </a>
        </div>
        <div class="menu-item">
            <a href="https://github.com/jonathanCervone/portfolio">
                <span class="home-link-icon"><i class="fa fa-github"></i></span>
            </a>
        </div>

        <div class="menu-item">
            <a href="/experience"><i class="fa fa-graduation-cap"></i></a>
        </div>
        <div class="menu-item">
            <a href="/projects"><i class="fa fa-cogs"></i></a>
        </div>
        <!--<div class="menu-item">
            <a href="/code"><i class="fa fa-code"></i></a>
        </div>-->
        <!--<div class="menu-item">
        <a href="/hobbies"><i class="fa fa-user"></i></a>
    </div>-->
    </div>
</div>