<div class="full-content" style="background-image:url('../../Images/Seaweed.png')">
    <div class="overlay">
        <div class="centered-object">
            <div class="home-header">
                Hello, I am <span class="blue">Jonathan Cervone</span>, a Software Developer.
            </div>
            <div class="home-subheader">Check out more about me and my work, and thank you!</div>
            <div class="home-link">
                <a href="/experience">
                    <span class="home-link-icon"><i class="fa fa-graduation-cap"></i></span>
                    <span class="home-link-title">Experience</span>
                </a>
            </div>
            <div class="home-link">
                <a href="/projects">
                    <span class="home-link-icon"><i class="fa fa-cogs"></i></span>
                    <span class="home-link-title">Projects</span>
                </a>
            </div>
            <div class="home-link-container">
                <a href="https://www.linkedin.com/in/jonathan-cervone-b98432142/">
                    <span class="home-link-icon"><i class="fa fa-linkedin"></i></span>
                </a>
                <a href="mailto:jonathan.cervone@gmail.com">
                    <span class="home-link-icon"><i class="fa fa-envelope-o"></i></span>
                </a>
                <a href="https://github.com/jonathanCervone/portfolio">
                    <span class="home-link-icon"><i class="fa fa-github"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>